<nav>
    <a href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/assets/icons/seqweb_icon_32x32.png" alt="SeqWeb Home" style="height: 32px; width: 32px; vertical-align: middle;">
    </a>
    
    <div class="dropdown">
        <button class="dropbtn">About</button>
        <div class="dropdown-content">
            <a href="{{ site.baseurl }}/docs/seqweb_overview">Overview</a>
            <a href="{{ site.baseurl }}/docs/systems_design">Systems</a>
            <!-- <a href="{{ site.baseurl }}/docs/status">Project Status</a> -->
        </div>
    </div>
    
    <div class="dropdown">
        <button class="dropbtn">Contribute</button>
        <div class="dropdown-content">
            <a href="{{ site.baseurl }}/docs/quickstart">Quickstart</a>
        </div>
    </div>
    
    <a href="{{ site.baseurl }}/docs/contact" style="margin-right: 1rem; text-decoration: none; color: #333;">Help</a>
</nav>
